<h1>Editing Carona</h1>

<%= render 'form', carona: @carona %>

<%= link_to 'Show', users_backoffice_user_carona_path(current_user,@carona) %> |
<%= link_to 'Back', users_backoffice_user_caronas_path(current_user) %>
