<p id="notice"><%= notice %></p>

<th><%= link_to 'Novo usuário',  new_admins_backoffice_user_path %></th>

<%# form_with url: "/admins_backoffice/search_user", method: :get do |form| %>
  <%# form.label :query, "Procura por Usuários" %>
  <%# form.text_field :query, id: "search-user" %>
<%# end %>

<form action="/admins_backoffice/search_user" method="get">
  <div id="suggestion-box" class="autocomplete">
    <input type="text" name="query" id="search-user" autocomplete="off">
  </div>
</form>

<%= render 'results'%>
<%= javascript_pack_tag 'busca_usuario' %>

