<h1>Editing Search Carona</h1>

<%= render 'form', search_carona: @search_carona %>

<%= link_to 'Show',  users_backoffice_user_search_carona_path(current_user, @search_carona) %> |
<%= link_to 'Back', users_backoffice_user_search_caronas_path(current_user) %>
