<!DOCTYPE html>
<html>
  <head>
    <title> CaronUFF | Sistema de Carona da UFF </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <%= render 'layouts/header_site' %>
  <%= yield %>
  </body>
</html>